# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node modules
node_modules
dist
dist-ssr
*.local

# Environment variables
*.env
firebase.env
.env.*
!.env.example

# Firebase
src/firebase
.firebase/
.firebaserc
firebase-debug.log

# Service account keys
*.json
!package.json
!package-lock.json
!tsconfig.json
!firebase.json

# Build files
/dist/
/out/
/build/
/.output/

# Tests
/coverage/
/.nyc_output/